html {
	background-color: antiquewhite;
}

button {
	background-color: grey;
	border: none;
	margin: 0;
	height: 50px;
}
button:active {
	background-color: rgb(91, 91, 91);
	transition: none;
}

.orange {
	background-color: orange;
}

button:active.orange {
	background-color: rgb(210, 142, 7);
}

.container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.calculator {
	width: 300px;
}

.result {
	background-color: black;
	height: 50px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: end;
	font-size: 30px;
	padding-right: 10px;
	grid-area: result;
}

.keys {
	display: grid;
	gap: 5px;
	grid-template-areas:
		'result result result result'
		'C C back divide'
		'7 8 9 multiply'
		'4 5 6 subtraction'
		'1 2 3 addition'
		'zero zero zero equal';
}

#c {
	grid-area: C;
}

button[id='0'] {
	grid-area: zero;
}
